<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>

    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="peperoni" connectionString="vX/SO5p5m93aFEDtUiNadCva//1BH4E0GzZ6PhAijwKz3KOQ9liin/rUoPnE7EGHhiJl+ELNQfC8aueqO4BXdVbat2xLvKagQ9QmyOagN0WUKU0R3piCpzA5gHVvfnDplw798AmMhssBkdof13U2XLv0y+JR4btmQbWY6doQ3gi5DK5oYKMPPaCQOecQbR9PnZAqU2WQemrbRZTvQWkO5R5LLc+i5wh0L1Nfa0rLIdijyFLzQ8O6vrE2N9FSQiMLqkF+UH7FWz9IEDHwmCxpBsd3aBsVEGCIJaBqLu9YGm7WRNPiXtSm4hTCKK7Sr60KWquL89f0qn07XnNyu4GflFu2Mr/lmmotDM1XiJyY9SV0EoUyhovV7J9AkMJiyfoIP17dpCVsv11ejNayao1o61OT1npl/BrRzjLZC6vg3ohywJ5itrkDJHILSgRJc+OGfVQO7fGT4MwOidtx6nqroy6hQJkzCp7IBiiHVThv2+AjpYusof1y9Ukq63n1YaYYUu1U7FATiWjAJTuNZmhJS1GXlLI/kkbMUUgdLFfLrOyrgCVRJWdwd40zZNg17R6siUtKUQxgPdiUGUdQ8Ah/mid7HoWhWN7VgLaio+s43nM3qkpZVyTEOWnzbuZXlJat" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
</configuration>